<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h2>Full Phrase List</h2>
    </div>
  </div>
  <div class="row">
    <% if(phrases && phrases.length > 0) { %>
      <% phrases.forEach(function(p){ %>
        <div class="col s6 m3 l4">
          <%= p.word %>
        </div>
      <% }); %>
      <div class="row">
        <div class="col s12 m12 l12">
          <hr>
          <a class="btn" href="/game/phrases/add">Add More!</a>
        </div>
      </div>
    <% } else { %>
      <div class="col s12 m12 l12">
        <p>No phrases have been added yet!</p>
        <a class="btn" href="/game/phrases/add">Care to add your own?</a>
      </div>
    <% } %>
  </div>
</div>
