<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h2>Full Phrase List</h2>
    </div>
  </div>

    <% if(phrases && phrases.length > 0) { %>
      <% phrases.forEach(function(p){ %>
        <div class="row">
          <div class="col s12 m4 l4">
            <h5><%= p.word %></h5>
          </div>
          <div class="col s12 m8 l8">
            <h4 class="sub-text"><%= p.description %></h4>
          </div>
        </div>
      <% }); %>
      <div class="row">
        <div class="col s12 m12 l12">
          <hr>
          <a class="btn" href="/game/phrases/add">Add More!</a>
        </div>
      </div>
    <% } else { %>
      <div class="row">
        <div class="col s12 m12 l12">
          <p>No phrases have been added yet!</p>
          <a class="btn" href="/game/phrases/add">Care to add your own?</a>
        </div>
      </div>
    <% } %>
  </div>
